# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# VSCode
.vscode/

# Environment
.env

# Output
data/output/

# Upload Files
data/uploads/

# Logs
logs/

# macOS
.DS_Store

# Windows
Thumbs.db